<mat-toolbar class="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Quick Ride</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
  

    <ul>
   <li><a routerLink="/dashboard">Home</a></li>
   <!-- <li><a href="">My Rides</a></li>
   <li><a href="http://">Jobs</a></li>
   <li><a href="http://">Bazaary</a></li>
   <li><a href="http://" target="_blank" rel="noopener noreferrer">Ride History</a></li> -->
   <li><a routerLink="/login">Logout</a></li>
</ul>



