<p>Source <input type="text" (change)="onChangeSource($event)" 
    [style.background-color]="textcolor" [value]="ride.source"></p>
{{errorMessage}}
<p>Destination <input type="text" (change)="onChangeDestination($event)" 
[style.background-color]="destinationTextcolor" [value]="ride.destination"></p>
<button type="submit" (click)="onSave()">Save</button>
{{successMessage}}

<!-- <mat-card *ngFor="let ride of rides">
    <p>Source: {{ride.source}} </p>
    <p>Destination: {{ride.destination}} </p>
</mat-card> -->