Hi {{loggedInUser}}, Welcome to Quick Ride . You have logged in at {{loggedInTime}}

<app-create-ride></app-create-ride>
<h4>Choose Background color</h4>
<div>
  <input type="radio" name="colors" (click)="background='lightgreen'" title="Green" />Green
  <input type="radio" name="colors" (click)="background='yellow'" title="Yellow" />Yellow
  <input type="radio" name="colors" (click)="background='cyan'" title="cyan" />Cyan
</div>

<mat-card appFontcolor="darkblue" [appBackground]="background"  *ngFor="let ride of rides">
    <mat-card-content>
      <p>Source: {{ride.source}} </p>
    <p>Destination: {{ride.destination}} </p>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="deleteRide(ride.id)" mat-button><mat-icon>delete</mat-icon></button>
    </mat-card-actions>
  </mat-card>